body {
  font-family: sans-serif;
}

.console {
  width: 100%;
}

.console__log {
  outline: solid 1px #eee;
  width: 100%;
  height: 24px;

  font-weight: bold;
  padding: 4px;
}

.console--expected .console__log {
  outline: solid 1px #aade8c;
}
